
.DS_Store
*.bf
*.fsomaphash
index/data.properties
index/data.meta.zdata
index/data.meta.idx
index/data.meta-0.fsomapfile
index/data.lexicon.fsomapfile
index/data.lexicon.fsomapid
index/data.document.fsarrayfile
podcastsearchengine/package.json
podcastsearchengine/package-lock.json
*.xml
*.pyc
*.iml
